.faq-hero {
    background-color: #9cddec ;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .faq-hero .faq-content h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    background: linear-gradient(
      to right,
      #243b61
    );
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }